@import "tailwindcss";
@import "./product.css";
@import "./footer.css";
@import "./home.css";
@import "./about.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@font-face {
    font-family: "UTM-AvoBold";
    src: url("/public/storage/fonts/UTM-AvoBold.ttf") format("truetype"),
        url("/public/storage/fonts/UTM-Avo.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "UTM-Avo";
    src: url("/public/storage/fonts/UTM-Avo.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
