.page-danhmucsanpham .container-content-common-all {
    background: url(/public/storage/products/bg-common-01.jpg) repeat;
    float: left;
    width: 100%;
    margin-top: -5px;
    position: initial;
}

@media (min-width: 1200px) {
    .page-danhmucsanpham .container {
        width: 1170px;
    }
}

.page-danhmucsanpham .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-danhmucsanpham .container:before {
    content: "";
    display: table;
}

.page-danhmucsanpham .page-detail .container-content {
    padding-bottom: 30px;
}

@media (min-width: 1024px) {
    .page-danhmucsanpham .container-content-common-all .container-content {
        padding: 15px;
        background: #fff;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
            12px 0 15px -4px rgba(0, 0, 0, 0.2),
            -12px 0 15px -4px rgba(0, 0, 0, 0.2);
        float: left;
        width: 100%;
        padding-top: 30px;
    }
}

.page-danhmucsanpham .row {
    margin-right: -15px;
    margin-left: -15px;
}

.page-danhmucsanpham .row:before {
    display: table;
    content: " ";
}

@media (min-width: 992px) {
    .page-danhmucsanpham .col-md-9 {
        width: 75%;
        float: left;
        padding-left: 15px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .page-danhmucsanpham .col-md-3 {
        width: 25%;
        float: left;
    }
}

.page-danhmucsanpham .container-content .block {
    float: left;
    width: 100%;
}

.page-danhmucsanpham .block-san-pham-danh-muc {
    position: relative;
    margin-bottom: 30px;
}

.page-danhmucsanpham .block-san-pham-danh-muc .block-title h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #8bc34a;
    text-transform: uppercase;
    font-size: 18px;
}

.page-danhmucsanpham h1,
.page-danhmucsanpham h2,
.page-danhmucsanpham h3,
.page-danhmucsanpham h4,
.page-danhmucsanpham h5,
.page-danhmucsanpham h6 {
    color: #000;
    font-family: "UTM-AvoBold";
    line-height: 1.25;
}

.page-danhmucsanpham .h1,
.page-danhmucsanpham .h2,
.page-danhmucsanpham .h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.page-danhmucsanpham .block-san-pham-danh-muc .view-more {
    color: #8bc34a;
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 14px;
    font-family: "UTM-Avo";
}

.page-danhmucsanpham .block-san-pham-danh-muc .view-more:hover {
    text-decoration: underline;
}

.page-danhmucsanpham .list .views-row {
    padding: 15px;
}

.page-danhmucsanpham .san-pham-list .view-content {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important; /* Bắt đầu từ trái */
    align-items: stretch !important;
}

.page-danhmucsanpham .san-pham-list .views-row {
    text-align: center;
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    float: none !important;
}

.page-danhmucsanpham .san-pham-list .views-row a:hover {
    text-decoration: underline;
}

.page-danhmucsanpham .san-pham-list .views-field-field-anh-dai-dien {
    margin-bottom: 10px;
}

.page-danhmucsanpham .block-san-pham-danh-muc .views-field-title {
    min-height: 50px;
    flex-grow: 0;
}

.page-danhmucsanpham .san-pham-list .views-row .views-field-view-node {
    margin-top: auto !important;
    padding-top: 10px !important;
    flex-shrink: 0;
}

.page-danhmucsanpham #content-right .block {
    margin-bottom: 40px;
    padding-top: 30px;
    padding-right: 15px;
}

.page-danhmucsanpham #content-right .block-title h3 {
    text-transform: uppercase;
    font-family: "UTM-AvoBold";
    margin-top: 0px;
    color: #fff;
    background: #8bc34a;
    padding: 10px;
    font-size: 18px;
}

.page-danhmucsanpham #content-right .block-border .content {
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #8bc34a;
    font-family: "UTM-Avo";
}

.page-danhmucsanpham #content-right .block-border .views-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-danhmucsanpham #content-right .block-border a {
    color: #333;
}

.page-danhmucsanpham #content-right .block-border a:hover {
    text-decoration: underline;
}

.page-danhmucsanpham #block-views-block-bai-viet-block-1 {
    margin-top: 10px;
}

.page-danhmucsanpham #block-views-block-bai-viet-block-1 .views-row {
    padding: 10px;
}

.page-danhmucsanpham #content-right .views-field-title a {
    font-size: 14px;
}

.page-danhmucsanpham #content-right .views-field-title a:hover {
    text-decoration: underline;
}

.page-danhmucsanpham #content-right .views-field-body {
    font-family: "UTM-Avo";
}

/* Style cho tiêu đề category - áp dụng cho tất cả các trang category */
.page-danhmucsanpham .page-san-pham-list-title,
.page-category .page-san-pham-list-title,
.page-thucphamthosoche .page-san-pham-list-title,
.page-thucphamchebien .page-san-pham-list-title,
.page-giavi .page-san-pham-list-title,
.page-thucphamtuoisong .page-san-pham-list-title,
.page-raucuqua .page-san-pham-list-title,
.page-do-uong-giai-khat .page-san-pham-list-title {
    font-family: "UTM-AvoBold" !important;
    font-weight: bold !important;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #8bc34a;
    font-size: 18px;
    color: #000;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
}

.page-thucphamthosoche .page-san-pham-list .view-header,
.page-thucphamchebien .page-san-pham-list .view-header,
.page-giavi .page-san-pham-list .view-header,
.page-thucphamtuoisong .page-san-pham-list .view-header,
.page-raucuqua .page-san-pham-list .view-header {
    padding: 0px 15px;
}

.page-thucphamthosoche .san-pham-list .views-field-view-node,
.page-thucphamchebien .san-pham-list .views-field-view-node,
.page-giavi .san-pham-list .views-field-view-node,
.page-thucphamtuoisong .san-pham-list .views-field-view-node,
.page-raucuqua .san-pham-list .views-field-view-node {
    margin-top: auto;
    padding-top: 10px;
}

.page-thucphamthosoche .san-pham-list .views-field-view-node a,
.page-thucphamchebien .san-pham-list .views-field-view-node a,
.page-giavi .san-pham-list .views-field-view-node a,
.page-thucphamtuoisong .san-pham-list .views-field-view-node a,
.page-raucuqua .san-pham-list .views-field-view-node a {
    display: inline-block;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    margin-top: 0;
    padding: 2px 15px;
    color: #8bc34a;
    text-transform: uppercase;
    font-size: 14px;
}

/* Đã xóa các rule riêng lẻ vì đã dùng margin-top: auto để căn đều */

.page-thucphamthosoche .group-class-product,
.page-thucphamchebien .group-class-product,
.page-giavi .group-class-product,
.page-thucphamtuoisong .group-class-product,
.page-raucuqua .group-class-product {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important; /* ÉP BẮT ĐẦU TỪ TRÁI */
    align-items: stretch !important;
}

/* Đảm bảo các sản phẩm bắt đầu từ trái và có cùng chiều cao */
.page-thucphamthosoche .group-class-product .views-row,
.page-thucphamchebien .group-class-product .views-row,
.page-giavi .group-class-product .views-row,
.page-thucphamtuoisong .group-class-product .views-row,
.page-raucuqua .group-class-product .views-row {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    align-items: stretch !important;
    float: none !important;
}

/* Căn chỉnh nút "Xem chi tiết" ở cùng vị trí */
.page-thucphamthosoche .group-class-product .views-row .views-field-view-node,
.page-thucphamchebien .group-class-product .views-row .views-field-view-node,
.page-giavi .group-class-product .views-row .views-field-view-node,
.page-thucphamtuoisong .group-class-product .views-row .views-field-view-node,
.page-raucuqua .group-class-product .views-row .views-field-view-node {
    margin-top: auto !important;
    padding-top: 10px !important;
    flex-shrink: 0;
}

/* Đã xóa các rule riêng lẻ vì đã dùng margin-top: auto để căn đều */

.page-thucphamchebien .element-invisible,
.page-thucphamtuoisong .element-invisible,
.page-raucuqua .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.page-thucphamchebien .item-list .pager,
.page-thucphamtuoisong .item-list .pager,
.page-raucuqua .item-list .pager {
    margin-top: 20px;
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    font-family: "UTM-Avo";
}

.page-thucphamchebien .item-list ul,
.page-thucphamtuoisong .item-list ul,
.page-raucuqua .item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.page-thucphamchebien .pager,
.page-thucphamtuoisong .pager,
.page-raucuqua .pager {
    list-style: none;
}

.page-thucphamchebien .pager:before,
.page-thucphamtuoisong .pager:before,
.page-raucuqua .pager:before {
    display: table;
    content: " ";
}

.page-thucphamchebien .item-list .pager li.pager-current,
.page-thucphamtuoisong .item-list .pager li.pager-current,
.page-raucuqua .item-list .pager li.pager-current {
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #ddd;
    padding: 2px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-weight: normal;
    background: #8bc34a;
    color: #fff;
}

.page-thucphamchebien .item-list .pager li,
.page-thucphamtuoisong .item-list .pager li,
.page-raucuqua .item-list .pager li {
    margin: 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-image: none;
    display: inline;
}

.page-thucphamchebien .pager li > a,
.pager li > span,
.page-thucphamtuoisong .pager li > a,
.pager li > span,
.page-raucuqua .pager li > a,
.pager li > span {
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 2px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: #333;
}

.page-thucphamchebien .pager:after,
.page-thucphamtuoisong .pager:after,
.page-raucuqua .pager:after {
    clear: both;
    display: table;
    content: " ";
}

.views-field-title {
    min-height: 48px; /* 2 dòng */
}

.views-field-title a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px;
}

/* Đã xóa các rule riêng lẻ vì đã dùng margin-top: auto để căn đều */
