#footer {
    background: url(/public/storage/products/bg-footer.jpg) no-repeat bottom
        center;
    background-size: 100%;
    color: #007520;
    padding: 20px 0px;
    float: left;
    width: 100%;
    position: relative;
    box-shadow: 0px 10px 5px #888, 0px -10px 5px rgba(0, 0, 0, 0.1);
    font-family: "UTM-Avo", sans-serif;
}

#footer .container-fluid {
    max-width: 1526px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#block-alla-tech-block-hotline {
    position: fixed;
    bottom: 0px;
    left: 5px;
    z-index: 9999;
}

.call_hotline {
    width: 220px;
    height: 100px;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
}

.call_hotline_circle_fill {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    position: absolute;
    opacity: 0.75;
    background: #007520;
    border-radius: 50%;
    border: 2px solid transparent;
    transform-origin: 50% 50%;
    transition: all 0.5s;
    animation: call-circle-fill-anim 2.3s infinite ease-in-out;
}

@keyframes call-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: scale(0.7);
    }
    50% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0.2;
        transform: scale(0.7);
    }
}

#footer a {
    color: #007520;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.call_hotline_icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;

    background: #007520 url(/public/storage/products/call.png) no-repeat center
        center;
    background-size: 30px;

    border: 2px solid transparent;
    border-radius: 100%;

    transform-origin: 50% 50%;
    animation: call-icon-anim 1s infinite ease-in-out;
}

@keyframes call-icon-anim {
    0% {
        transform: rotate(0deg) skew(1deg, 0deg);
    }
    10% {
        transform: rotate(-35deg) skew(1deg, 0deg);
    }
    20% {
        transform: rotate(35deg) skew(1deg, 0deg);
    }
    30% {
        transform: rotate(-30deg) skew(1deg, 0deg);
    }
    40% {
        transform: rotate(30deg) skew(1deg, 0deg);
    }
    50% {
        transform: rotate(-25deg) skew(1deg, 0deg);
    }
    60% {
        transform: rotate(25deg) skew(1deg, 0deg);
    }
    80% {
        transform: rotate(-15deg) skew(1deg, 0deg);
    }
    100% {
        transform: rotate(0deg) skew(1deg, 0deg);
    }
}

span.number-button {
    position: absolute;
    background: #007520;
    color: #fff;
    top: 29px;
    z-index: -1;
    left: 25px;
    padding: 10px 15px;
    padding-left: 55px;
    border-radius: 30px;
    font-family: "UTM-AvoBold";
}

@media (min-width: 1024px) {
    #block-alla-tech-block-footer {
        float: left;
        width: 35%;
        padding-right: 30px;

        /* Ảnh nền logo footer */
        background: url("/public/storage/products/logo-footer.png") no-repeat
            0px 20px;
        background-size: 130px;

        padding-left: 145px;
    }
}

@media (min-width: 768px) {
    .company-info {
        font-size: 16px;
    }
}

#footer h2 {
    text-transform: uppercase !important;
    color: #007520;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.25;
}

#footer #block-alla-tech-block-footer .google-map-wrapper.company-info p strong,
#footer
    #block-alla-tech-block-footer
    .google-map-wrapper.company-info
    h2
    strong {
    font-family: "UTM-AvoBold" !important;
    font-weight: 700 !important;
}

/*support right*/
#block-alla-tech-support-online {
    position: fixed;
    bottom: 0px;
    z-index: 11;
    right: 5px;
}

.icon-chat-box {
    width: 100% !important;
    text-align: right !important;
    padding: 0px;
    margin: 0px;
    padding-left: 160px;
}

.icon-chat-box li {
    margin-bottom: 5px;
    width: auto;
    display: block !important;
    text-align: right !important;
}

#footer h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 1.25;
}

.support-icon-right {
    box-sizing: border-box;
}

.support-icon-right h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px !important;
    font-family: Arial;
    color: #fff !important;
    margin: 0 !important;
    background-color: #007520;
    cursor: pointer;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    margin: 0px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 9999;
    border-top: 1px solid #007520;
    border-left: 1px solid #007520;
    border-right: 1px solid #007520;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.online-support {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.online-support.show {
    display: block !important;
    max-height: 350px; /* đúng bằng chiều cao fb-box */
}

.support-icon-right .fa-weixin {
    margin-right: 10px;
}

.fa-weixin:before {
    content: "\f1d7";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center {
    text-align: center;
}

.fb_iframe_widget {
    position: relative;
}

.fb_iframe_widget span {
    position: relative;
    text-align: justify;
}

.fb_iframe_widget iframe {
    position: absolute;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#block-views-block-video-block-5 {
    position: relative;
    z-index: 99;
}
@media (min-width: 1024px) {
    #block-views-block-video-block-5 {
        float: left;
        width: 25%;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    #block-views-block-video-block-5 {
        padding: 0px;
    }
}

#footer .block-title {
    margin-bottom: 10px;
}

#footer .block-title h3 {
    margin-top: 0px;
    border-bottom: 2px solid #007520;
}
#footer h3 {
    color: #007520;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 10px;
    font-family: "UTM-AvoBold";
    line-height: 1.25;
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
        float: left;
    }
}

.youtube-container--responsive {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-container--responsive iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row:before {
    display: table;
    content: " ";
}
.row:after {
    display: table;
    content: " ";
}

@media (min-width: 1024px) {
    #block-alla-tech-block-lien-he {
        float: left;
        width: 25%;
        padding-right: 15px;
        padding-left: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 991px) {
    #block-alla-tech-block-lien-he {
        margin-bottom: 50px;
    }
}

@media (min-width: 1024px) {
    #block-alla-tech-block-lien-he {
        float: left;
        width: 25%;
        padding-right: 15px;
        padding-left: 20px;
        margin-top: 20px;
    }
}
@media (min-width: 991px) {
    #block-alla-tech-block-lien-he {
        margin-bottom: 50px;
    }
}

#block-alla-tech-block-lien-he {
    position: relative;
    z-index: 99;
}

#google_map {
    border: 1px solid #cccccc;
}

@media (min-width: 1024px) {
    #block-alla-tech-block-ket-noi {
        float: left;
        width: 15%;
        padding-left: 15px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .company-info {
        font-size: 16px;
    }
}

.social-info .social {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.social-info .social ul {
    margin: 0px;
    padding: 0px;
}

.social-info .social ul li {
    list-style: none;
    float: left;
    padding: 0px 5px;
    width: 33.33333%;
    text-align: center;
}

.social-info .social ul li img {
    width: 45px;
    display: inline-block;
}

.social-info .social ul li:nth-child(2) {
    padding-top: 6px;
}
