/* ============================================
   TRANG TIN TỨC - NEWS PAGE
   CSS theo design mẫu news.html và news.css
   ============================================ */

/* Element invisible */
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

/* ============================================
   PHẦN TIN NỔI BẬT - Featured News Section
   ============================================ */
#block-views-block-bai-viet-block-2 {
    margin-bottom: 50px;
}

#block-views-block-bai-viet-block-2 .views-row {
    float: left;
    width: 33.333%;
    padding: 0px 5px;
}

@media (max-width: 991px) {
    #block-views-block-bai-viet-block-2 .views-row {
        width: 100%;
        padding: 15px;
    }
}

#block-views-block-bai-viet-block-2 .views-field-nothing {
    position: relative;
}

#block-views-block-bai-viet-block-2 .views-field-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(171, 212, 110, 0.8);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#block-views-block-bai-viet-block-2 .views-field-title a {
    color: #fff;
    text-decoration: none;
}

#block-views-block-bai-viet-block-2 .views-field-title a:hover {
    color: #fff;
    text-decoration: underline;
}

#block-views-block-bai-viet-block-2 .block-title {
    text-align: center;
}

#block-views-block-bai-viet-block-2 .block-title:after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    height: 2px;
    background: #8bc34a;
    border-top: 0px;
    margin-top: -10px;
    margin-bottom: 35px;
}

#block-views-block-bai-viet-block-2 .block-title h3 {
    display: inline-block;
    padding: 0px 15px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: "UTM-AvoBold";
    font-size: 18px;
    color: #000;
}

#block-views-block-bai-viet-block-2 img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 991px) {
    #block-views-block-bai-viet-block-2 img {
        width: 100%;
    }
}

/* ============================================
   DANH SÁCH TIN TỨC - News List Section
   ============================================ */
.tin-tuc-list {
    padding-bottom: 30px;
}

.tin-tuc-list .views-field-field-anh-dai-dien img {
    width: 100%;
    border-radius: 10px;
}

.tin-tuc-list .views-row {
    padding: 30px 15px;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.tin-tuc-list .views-row-first {
    padding-top: 0px;
}

.tin-tuc-list .views-field-title {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tin-tuc-list .views-field-title a {
    color: #333;
    font-family: "UTM-AvoBold";
    text-decoration: none;
}

.tin-tuc-list .views-field-title a:hover {
    color: #8bc34a;
    text-decoration: underline;
}

.tin-tuc-list .views-field-view-node {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .tin-tuc-list .views-field-view-node {
        position: initial;
    }
}

.tin-tuc-list .views-field-view-node a {
    color: #8bc34a;
    display: inline-block;
    background: url(https://nongsanviet.net.vn/sites/all/themes/alla_theme/images/read.png)
        no-repeat right 9px;
    border: 1px solid #8bc34a;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    text-decoration: none;
}

.tin-tuc-list .views-field-view-node a:hover {
    background-color: #8bc34a;
    color: #fff;
}

.tin-tuc-list .views-field-body {
    font-size: 15px;
    color: #000;
    line-height: 1.6;
}

.tin-tuc-list .views-field-nothing {
    float: left;
    width: 50%;
    position: relative;
    background: #f7f7f7;
    z-index: 9;
    padding: 30px;
    margin-left: -40px;
    margin-top: 75px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .tin-tuc-list .views-field-nothing {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px;
    }
}

@media (min-width: 768px) {
    .tin-tuc-list .views-field-field-anh-dai-dien {
        float: left;
        width: 50%;
        padding-right: 15px;
    }
}

.view-bai-viet .view-content {
    clear: both;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
}

/* ============================================
   PAGINATION
   ============================================ */
.item-list .pager {
    clear: both;
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
}

.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
    margin: 0px;
}

.pager-current {
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 2px 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-weight: normal;
    background: #8bc34a;
    color: #fff;
}

.pager li > a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 14px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.pager li > a:focus,
.pager li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

/* ============================================
   SIDEBAR
   ============================================ */
#content-right .block-title h3 {
    text-transform: uppercase;
    font-family: "UTM-AvoBold";
    margin-top: 0px;
    color: #fff;
    background: #8bc34a;
    padding: 10px;
    font-size: 18px;
}

#content-right .block-border .content {
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #8bc34a;
}

#content-right .views-field-title a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

#content-right .views-field-title a:hover {
    color: #8bc34a;
    text-decoration: underline;
}

#content-right .block {
    margin-bottom: 40px;
}

.san-pham-list .views-field-field-anh-dai-dien {
    margin-bottom: 10px;
}

.san-pham-list .views-field-field-anh-dai-dien img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.san-pham-list .views-row {
    text-align: center;
}

#content-right .block-border .views-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#content-right .block-border a {
    color: #333;
}

.list .views-row {
    padding: 15px;
}

/* ============================================
   TRANG CHI TIẾT BÀI VIẾT - Post Detail Page
   Theo design news.html và news.css
   ============================================ */
.bao-ngoai-node.bao-ngoai-node-bai_viet.node-detail {
    float: left;
    width: 100%;
}

.node-detail.node-detail {
    float: left;
    width: 100%;
    color: #000;
}

.node-detail.node-detail img {
    max-width: 100% !important;
    height: auto !important;
}

.node-detail.node-detail table {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.node-detail.node-detail table,
.node-detail.node-detail table td {
    border: 2px solid black;
}

.node-detail.node-detail table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.node-detail.node-detail table td {
    padding: 20px;
}

.bao-ngoai-node a {
    font-size: 17px;
}

.title-node-common {
    font-family: "UTM-AvoBold";
    color: #007520;
    font-size: 24px;
    margin: 0.67em 0;
    line-height: 1.25;
}

.post-date-post-view {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.post-date-post-view i {
    margin-right: 5px;
}

.node-content-detail.content.clearfix {
    margin-top: 20px;
}

.node-content-detail.content.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.node-content-detail .field-items {
    font-family: "UTM-Avo";
    font-size: 15px;
    line-height: 1.8;
    color: #333;
}

.node-content-detail .field-items p {
    margin-bottom: 15px;
}

.node-content-detail .field-items img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.node-content-detail .field-items .rtecenter {
    text-align: center;
}

.node-content-detail .field-items .rtejustify {
    text-align: justify;
}

.node-content-detail .field-items strong {
    font-family: "UTM-AvoBold";
    font-weight: 700;
}

.node-content-detail .field-items em {
    font-style: italic;
}

.node-content-detail .field-items h2,
.node-content-detail .field-items h3 {
    font-family: "UTM-AvoBold";
    color: #333;
    margin-top: 25px;
    margin-bottom: 15px;
}

.node-content-detail .field-items h2 {
    font-size: 20px;
}

.node-content-detail .field-items h3 {
    font-size: 18px;
}

.node-content-detail .field-items ul,
.node-content-detail .field-items ol {
    margin: 15px 0;
    padding-left: 30px;
}

.node-content-detail .field-items li {
    margin-bottom: 8px;
}

/* ============================================
   SOCIAL SHARING BUTTONS
   ============================================ */
.bao-ngoai-node .links.inline {
    display: inline;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bao-ngoai-node .links.inline li {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin-right: 5px;
}

.bao-ngoai-node .addtoany {
    display: inline;
    padding: 0;
}

.bao-ngoai-node .addtoany_list {
    display: inline;
    line-height: 22px;
}

.bao-ngoai-node .addtoany_list > a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.bao-ngoai-node .addtoany_list > a:hover {
    opacity: 0.7;
}

.bao-ngoai-node .a2a_kit {
    outline: 0;
}

.bao-ngoai-node .a2a_svg {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    padding: 0;
    pointer-events: none;
    width: 22px;
}

.bao-ngoai-node .a2a_svg svg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    display: block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
    height: auto;
}

.bao-ngoai-node .a2a_label {
    position: absolute !important;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.bao-ngoai-node .a2a_button_facebook_like {
    width: 90px !important;
    padding: 0 !important;
    margin-top: 2px;
    display: inline-block;
}

.bao-ngoai-node .a2a_button_facebook_like span {
    display: inline-block;
    vertical-align: middle;
}

.bao-ngoai-node .a2a_button_facebook_like i {
    font-size: 22px;
    color: #0866ff;
}

/* ============================================
   CONTENT BOTTOM: TIN KHÁC VÀ TIN NỔI BẬT
   ============================================ */
.region-content-bottom {
    clear: both;
    margin-top: 30px;
    padding-top: 20px;
}

.block-tin-khac {
    float: left;
    width: 100%;
}

.block-tin-khac .block-title h3 {
    text-transform: uppercase;
    color: #007520;
    font-family: "UTM-AvoBold";
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.block-tin-khac .view-content {
    padding: 0;
}

.block-tin-khac .views-row:last-child {
    border-bottom: none;
}

.block-tin-khac .views-field-title {
    margin: 0;
}

.block-tin-khac .views-field-title a {
    color: #000;
    font-family: "UTM-AvoBold";
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    display: block;
}

.block-tin-khac .views-field-title a:hover {
    text-decoration: underline;
}

.block-tin-khac .field-content {
    display: block;
}

/* ============================================
   RESPONSIVE
   ============================================ */
@media (max-width: 767px) {
    #content-right {
        margin-top: 30px;
    }

    .tin-tuc-list .views-row {
        padding: 15px;
    }

    .tin-tuc-list .views-field-field-anh-dai-dien {
        width: 100%;
        float: none;
        padding-right: 0;
        margin-bottom: 15px;
    }

    .page-post .post-title {
        font-size: 20px;
    }

    .page-post .post-content {
        font-size: 14px;
    }

    .page-post .related-posts-list .col-md-4 {
        margin-bottom: 20px;
    }
}
