/* ============================================
   TRANG TÌM KIẾM - SEARCH PAGE
   CSS theo design mẫu search.html và search.css
   ============================================ */

/* ============================================
   SEARCH FORM STYLES
   ============================================ */
.search-form {
    margin-bottom: 1em;
}

.search-form input {
    margin-top: 0;
    margin-bottom: 0;
}

#content-center #search-form {
    position: relative;
    margin-top: 30px;
}

#content-center #search-form .form-submit {
    position: absolute;
    background: url(https://nongsanviet.net.vn/sites/all/themes/alla_theme/images/search.png)
        no-repeat;
    border: none;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 3px;
    cursor: pointer;
}

.form-item {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
}

.form-item.form-type-textfield {
    margin-right: 40px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}

.container-inline {
    display: inline-block;
}

.container-inline.form-wrapper {
    position: relative;
    width: 100%;
}

.page-search h2 {
    font-family: "UTM-AvoBold";
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.25;
}

.page-search ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}

.page-search ul li {
    color: #666;
    margin-bottom: 5px;
}

/* ============================================
   SEARCH RESULTS STYLES
   ============================================ */
.search-results {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results p {
    margin-top: 0;
}

.search-results .title {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.search-results .title a {
    color: #337ab7;
    text-decoration: none;
    font-family: "UTM-AvoBold";
}

.search-results .title a:hover {
    color: #ed4136;
    text-decoration: underline;
}

.search-results li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results .search-snippet-info {
    padding-left: 1em;
}

.search-results .search-snippet {
    color: #333;
    line-height: 1.6;
    margin: 0;
}

.search-results .search-snippet strong {
    font-weight: 700;
    font-family: "UTM-AvoBold";
    color: #000;
}

/* ============================================
   RESPONSIVE
   ============================================ */
@media (max-width: 767px) {
    #content-center #search-form {
        margin-top: 20px;
    }

    .search-results .title {
        font-size: 1em;
    }

    .search-results .search-snippet-info {
        padding-left: 0;
    }
}
